<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ControlsFilePath" value="DemoFramework\ObjectRepository\ControlLibrary\Controls.xlsx" />
    <add key="ReportsPath" value ="Reports\Execution Report.xlsx"/>
    <add key="ScreenshotPath" value="Reports\Screenshot\" />
    <add key="ExtentPath" value="Reports\Extent\Report.html" />
    <add key="ExtentXML" value="DemoFramework\Reports\" />
  </appSettings>
</configuration>